<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Crawler</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/w3.css">
        <link rel="stylesheet" href="/css/css.css">
        <link rel="stylesheet" href="/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        </style>
        <link rel="stylesheet" href="/css/prompt.css">
        <script src="/includes/jquery.min.js"></script>
        <script src="/includes/jquery-1.12.4.js"></script>
        <script src="/includes/prompt.js"></script>
        <script src="/includes/notify.js"></script>
        <script src="/includes/notify.min.js"></script>
        <script src="/js/view.js"></script>
        <script src="/includes/jquery-ui.js"></script>
    </head>
    <body class="w3-light-grey">

        <!-- Top container -->
        <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
            <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> &nbsp;Menu</button>
            <span class="w3-bar-item w3-right">Dashboard  </span>
        </div>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-top:43px;">
            <!-- Header -->
            <header class="w3-container" style="padding-top:22px">
          
            </header>
            <div class="w3-responsive">
                <div class="w3-container">
                    <div class="w3-threequarter">
                        <h3 id="scrapeid" th:text="'Record '+${requestid}"/>
                    </div>
                    <div class="w3-quarter">
                        <div class="w3-bar">
                            <a href="#" id="download" class="w3-bar-item w3-button w3-green w3-right"><span class="fa fa-download"></span></a>
                            <a href="#" id="print" class="w3-bar-item w3-button w3-blue w3-right"><span class="fa fa-print"></span></a>
                            <a href="#" id="edit" class="w3-bar-item w3-button w3-orange w3-right"><span class="fa fa-edit"></span></a>
                            <a href="#" id="save" class="w3-bar-item w3-button w3-green w3-right w3-hide"><span class="fa fa-check"></span></a>
                            <select id="sort-price" class="w3-bar-item w3-right w3-hide" name="option">
                                <option value="" disabled="" selected="">Sort</option>
                                <option value="1">Ascending</option>
                                <option value="2">Descending</option>
                            </select>
                            <select id="sort-date" class="w3-bar-item w3-right w3-hide" name="option">
                                <option value="" disabled="" selected="">Category</option>
                                <option>Date</option>
                                <option>Price</option>
                                <option>Location</option>
                                <option>Title</option>
                            </select>
                            <text id="include-images-label" class="w3-right w3-bar-item w3-hide">Images</text>
                            <input id="include-images" class="w3-check w3-bar-item w3-large w3-right w3-hide" type="checkbox" checked="">
                        </div>
                    </div>

                <table id="table" class="w3-table w3-striped w3-bordered w3-white">

                    <thead id="thead-record">
                    <th style="width:3%">#</th>
                    <th style="width:7%">Image</th>
                    <th style="width:35%">Title</th>
                    </thead>
                    <tbody  id="record">

                    </tbody>
                </table>
                </div>
            </div>

        </div>
    </body>
</html>