html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	margin: 0;
    padding: 0;
    border: 0
}
body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-family: Arial, sans-serif;
	
	background-color:#E3E8EE;
	font-size:13px;
	margin:0;
	padding:0;
	color:#333;
}
td, th {
	margin:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

p {
	margin: 0 0 15px;
	line-height: 22px;
}

p {
	margin: 0 0 1.5em;
}
header {
	display: block;
	text-align: center;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5 {


	font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
	
	font-family: Verdana, sans-serif;
	
	color: #303030;
	
	
    color: #222;
	
	color: #182769;
	
	color:#27468C;

	
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
h1 {
	font-size: 2em;
	margin-bottom: 0.75em
}
h2 {
	font-size: 1.5em;
	margin-bottom: 0.75em
}
h3 {
	font-size: 1.25em;
	margin-bottom: 0.75em
}

/* links */
a {
	color: #3A66CC;
	text-decoration: underline;
	color: #006AC8;
	

}
a:hover {
	text-decoration: none;
}
a:hover, a:active {
	outline: 0
}

.bold {
	font-weight:bold;
}


.clear {
	clear:both;
}


.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
}

.clearfix:after {
    clear: both;
}


/*
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: 0;
}
*/
li {
	padding: 3px 0px;
}

.small {
	font-size:80%;
}

.bold {
	font-weight:bold;
}

pre.text-block, pre.code {
	background-color: #F8F8F8;
	color: black;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	overflow: auto;

	font-family: monospace;
	font-size: 13px;
	line-height: 120%;
	padding: 15px;
}


ul.list-inline {
	
}

ul.list-inline > li {
	display: inline-block;
	padding: 2px 5px;
}


label {
	display:block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

.progress-bar {
	border:1px solid #999999;
	border-color:#BEBEBE;
	border-color:#8B8B8B;
	height:9px;
	width:100px;
	text-align:left;
}
.progress-bar-inner {
	max-width:99%;
	min-width:5%;
	height:inherit;
	border-right:1px solid #BEBEBE;
}


/* controls */
select {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	font-size: 13px;
	color: #555;
	display: inline-block;
	border: 1px solid #bbb;
	height: 28px;
	line-height: 28px;
	padding: 4px;
}

.button {
	/* basics */
	display: inline-block;
	padding: 10px 16px;
	cursor: pointer;
	text-decoration:none;
	 
	/* unselectable */
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	
	/* border stuff */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
	
	/* size */
	font-size: 13px;
	line-height: 20px;
	font-weight:bold;
	
	/* colors and styling */
	background-color:#4F85BB;
	color: #FFF;

}
.button:hover {
	text-decoration:none;
	background-color:#6191C2;
}

.button:active {
	position:relative;
	top:1px;
}



/* table */
table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}
.table {
	margin-bottom: 20px;
	border: 1px solid black;
	border-color: #BFBFBF;
	border-color: #C9C9C9;
}
.table th, .table td {
	padding: 6px;
	line-height: 20px;
	text-align: left;
	border: 1px solid black;
	border-color: #BFBFBF;
	border-color: #C9C9C9;
}
.table th {
	background-color: #EAEAEA;
	background: #ededed;
	text-align: center;
	font-weight: bold;
	background-color: #E8E8E8;
}







#wrapper {
	position:relative;
	text-align:left;
	width:1000px;
	margin-bottom:50px;
	margin-top:0;
}
/* visible part of the wrapper plus border */
#main_container {
	background-color:#FFFFFF;
	border: 1px solid #aaa;
	-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
	box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
}


#page_contents {
	padding:8px;
	margin:2em;
	margin-bottom:5em;
	
	min-height:300px;
}


#social_tab {
	position:fixed;
	text-align:center;
	margin-left:999px;
	top:200px;
	z-index: 1;
	padding:2px;
	border:1px solid #999;
	border-left:0;
	background-color:white;


	height:150px;
	
	width:59px;
	
	border-color:#aaa;
	
	padding-top:12px;
	padding-bottom:12px;
	border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	
	webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
	box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
}

#top_header {
	height: 32px;
	line-height: 32px;
	/* inner elements style */
	color: white;
	font-size: 11px;
	text-align: center;
	/* */
	border-bottom: 1px solid #999;
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
	background-color: #3A6794;
}




#footer {
	font-size:80%;
	clear:both;
	padding:10px;
	background-color:#EEE;
	border:1px solid #999;
	border-top:0;
	color:#0D254F;
}

#footer a {
	text-decoration:none;
	color:inherit;
	
	font-family: Verdana, Geneva, sans-serif;
}

#footer a:hover {
	text-decoration:underline;
}
/* navigation menu */
ul.navbar {
	margin: 0;
	padding:0;
	list-style-type:none;
	text-align:left;
	height:43px;
	/* background stuff */
	background-color:#4f85bb;
	
	width: 70%;
    margin: auto;
}

a.icon-home {
	background-image:url(//www.proxynova.com/assets/images/icon_home.png); 
	background-repeat:no-repeat; 
	background-position:15px center; 
	padding-left:38px !important;
}

ul.navbar > li:hover {
	background: #3B71A7;
}

li.item_hover {
	background-color: #3B71A7;
}

/* dropdown hover stuff --- only use this when javascript is disabled */
.no-js ul.navbar li:hover > div {
	display:block;
}

/* first level LI items --- front menu */
ul.navbar > li {
	float: left;
	position: relative;
	display:block;
	border-color:#447AB0;
	
	padding:0px;
	margin:0px;
}

ul.navbar > li:first-child {
}

ul.navbar > li > a {
	/* font */
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 #000;
	  
	/* pixels */
	padding:0px 20px;
	line-height:42px;
	height:42px;
	display:block;
	
	border-left: 1px solid rgb(83,115,176);
	border-right: 1px solid rgb(47,80,140);
	
	border-left-color: rgba(255,255,255,0.15);
	border-right-color: rgba(0,0,0,0.2);
}


/* first level menu item ---> indicate that it has a sub-menu */
ul.navbar > li.has-sub > a {
	background-image:url("//www.proxynova.com/assets/images/menu_arrow_down.gif");
	background-position: 92% 50%;
	background-repeat:no-repeat;
	padding-right:32px; /* for dropdown arrow background */
}


/* dropdown items - top right bottom left*/
.navbar .dropdown {
	display:none;
	position: absolute;
	top: 100%;
	left: 0;
	
	z-index: 200;
	width: 500px;
	
	padding: 10px 5px 5px 5px;
	padding: 5px;
	
	border: 1px solid #777777;
	border-color:#396591;
	
	/* bottom shadows yo */
	-webkit-box-shadow: 0px 10px 15px -3px #424242;
	-moz-box-shadow: 0px 10px 15px -3px #424242;
	box-shadow: 0px 10px 15px -3px #424242;
	
	border: 1px solid #16658F;
	border-color: #447AB0;
	border-top: 0;

	background: #3B71A7;
	
	opacity: 0.98;
}



/* top right bottom left */
.navbar .dropdown h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	color:white;
	
	padding: 8px 0 1px 12px;
	margin: 0;
}
.navbar .dropdown ul {
	list-style-type: none;
	
	margin: 0;
	padding: 8px;
}

.navbar .dropdown ul li {
	line-height: 22px;
	padding: 0;
	margin: 0;
	float: none;
}

.navbar .dropdown a {
	font-family: Arial;
	font-size: 12px;
	color: white;
	
	text-decoration:none;
}
.navbar .dropdown a:hover {
	text-decoration: underline;
}




.col3 {
	float: left;
	padding: 0 0 0 7px;
	width: 32%;
}




.flag {
	width: 15px;
	height: 11px;
	background:url('//www.proxynova.com/assets/images/flags.png') no-repeat
}

.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: -240px 0}
.flag.flag-ba {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg {background-position: -80px -11px}
.flag.flag-bh {background-position: -96px -11px}
.flag.flag-bi {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn {background-position: -160px -11px}
.flag.flag-bo {background-position: -176px -11px}
.flag.flag-br {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw {background-position: 0 -22px}
.flag.flag-by {background-position: -16px -22px}
.flag.flag-bz {background-position: -32px -22px}
.flag.flag-ca {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn {background-position: -208px -22px}
.flag.flag-co {background-position: -224px -22px}
.flag.flag-cr {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj {background-position: -96px -33px}
.flag.flag-dk {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do {background-position: -144px -33px}
.flag.flag-dz {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee {background-position: -192px -33px}
.flag.flag-eg {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et {background-position: -32px -44px}
.flag.flag-eu {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn {background-position: -240px -55px}
.flag.flag-hr {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu {background-position: -32px -66px}
.flag.flag-ic {background-position: -48px -66px}
.flag.flag-id {background-position: -64px -66px}
.flag.flag-ie {background-position: -80px -66px}
.flag.flag-il {background-position: -96px -66px}
.flag.flag-im {background-position: -112px -66px}
.flag.flag-in {background-position: -128px -66px}
.flag.flag-io {background-position: -144px -66px}
.flag.flag-iq {background-position: -160px -66px}
.flag.flag-ir {background-position: -176px -66px}
.flag.flag-is {background-position: -192px -66px}
.flag.flag-it {background-position: -208px -66px}
.flag.flag-je {background-position: -224px -66px}
.flag.flag-jm {background-position: -240px -66px}
.flag.flag-jo {background-position: 0 -77px}
.flag.flag-jp {background-position: -16px -77px}
.flag.flag-ke {background-position: -32px -77px}
.flag.flag-kg {background-position: -48px -77px}
.flag.flag-kh {background-position: -64px -77px}
.flag.flag-ki {background-position: -80px -77px}
.flag.flag-km {background-position: -96px -77px}
.flag.flag-kn {background-position: -112px -77px}
.flag.flag-kp {background-position: -128px -77px}
.flag.flag-kr {background-position: -144px -77px}
.flag.flag-kurdistan {background-position: -160px -77px}
.flag.flag-kw {background-position: -176px -77px}
.flag.flag-ky {background-position: -192px -77px}
.flag.flag-kz {background-position: -208px -77px}
.flag.flag-la {background-position: -224px -77px}
.flag.flag-lb {background-position: -240px -77px}
.flag.flag-lc {background-position: 0 -88px}
.flag.flag-li {background-position: -16px -88px}
.flag.flag-lk {background-position: -32px -88px}
.flag.flag-lr {background-position: -48px -88px}
.flag.flag-ls {background-position: -64px -88px}
.flag.flag-lt {background-position: -80px -88px}
.flag.flag-lu {background-position: -96px -88px}
.flag.flag-lv {background-position: -112px -88px}
.flag.flag-ly {background-position: -128px -88px}
.flag.flag-ma {background-position: -144px -88px}
.flag.flag-mc {background-position: -160px -88px}
.flag.flag-md {background-position: -176px -88px}
.flag.flag-me {background-position: -192px -88px}
.flag.flag-mg {background-position: -208px -88px}
.flag.flag-mh {background-position: -224px -88px}
.flag.flag-mk {background-position: -240px -88px}
.flag.flag-ml {background-position: 0 -99px}
.flag.flag-mm {background-position: -16px -99px}
.flag.flag-mn {background-position: -32px -99px}
.flag.flag-mo {background-position: -48px -99px}
.flag.flag-mp {background-position: -64px -99px}
.flag.flag-mq {background-position: -80px -99px}
.flag.flag-mr {background-position: -96px -99px}
.flag.flag-ms {background-position: -112px -99px}
.flag.flag-mt {background-position: -128px -99px}
.flag.flag-mu {background-position: -144px -99px}
.flag.flag-mv {background-position: -160px -99px}
.flag.flag-mw {background-position: -176px -99px}
.flag.flag-mx {background-position: -192px -99px}
.flag.flag-my {background-position: -208px -99px}
.flag.flag-mz {background-position: -224px -99px}
.flag.flag-na {background-position: -240px -99px}
.flag.flag-nc {background-position: 0 -110px}
.flag.flag-ne {background-position: -16px -110px}
.flag.flag-nf {background-position: -32px -110px}
.flag.flag-ng {background-position: -48px -110px}
.flag.flag-ni {background-position: -64px -110px}
.flag.flag-nl {background-position: -80px -110px}
.flag.flag-no {background-position: -96px -110px}
.flag.flag-np {background-position: -112px -110px}
.flag.flag-nr {background-position: -128px -110px}
.flag.flag-nu {background-position: -144px -110px}
.flag.flag-nz {background-position: -160px -110px}
.flag.flag-om {background-position: -176px -110px}
.flag.flag-pa {background-position: -192px -110px}
.flag.flag-pe {background-position: -208px -110px}
.flag.flag-pf {background-position: -224px -110px}
.flag.flag-pg {background-position: -240px -110px}
.flag.flag-ph {background-position: 0 -121px}
.flag.flag-pk {background-position: -16px -121px}
.flag.flag-pl {background-position: -32px -121px}
.flag.flag-pm {background-position: -48px -121px}
.flag.flag-pn {background-position: -64px -121px}
.flag.flag-pr {background-position: -80px -121px}
.flag.flag-ps {background-position: -96px -121px}
.flag.flag-pt {background-position: -112px -121px}
.flag.flag-pw {background-position: -128px -121px}
.flag.flag-py {background-position: -144px -121px}
.flag.flag-qa {background-position: -160px -121px}
.flag.flag-re {background-position: -176px -121px}
.flag.flag-ro {background-position: -192px -121px}
.flag.flag-rs {background-position: -208px -121px}
.flag.flag-ru {background-position: -224px -121px}
.flag.flag-rw {background-position: -240px -121px}
.flag.flag-sa {background-position: 0 -132px}
.flag.flag-sb {background-position: -16px -132px}
.flag.flag-sc {background-position: -32px -132px}
.flag.flag-scotland {background-position: -48px -132px}
.flag.flag-sd {background-position: -64px -132px}
.flag.flag-se {background-position: -80px -132px}
.flag.flag-sg {background-position: -96px -132px}
.flag.flag-sh {background-position: -112px -132px}
.flag.flag-si {background-position: -128px -132px}
.flag.flag-sk {background-position: -144px -132px}
.flag.flag-sl {background-position: -160px -132px}
.flag.flag-sm {background-position: -176px -132px}
.flag.flag-sn {background-position: -192px -132px}
.flag.flag-so {background-position: -208px -132px}
.flag.flag-somaliland {background-position: -224px -132px}
.flag.flag-sr {background-position: -240px -132px}
.flag.flag-ss {background-position: 0 -143px}
.flag.flag-st {background-position: -16px -143px}
.flag.flag-sv {background-position: -32px -143px}
.flag.flag-sx {background-position: -48px -143px}
.flag.flag-sy {background-position: -64px -143px}
.flag.flag-sz {background-position: -80px -143px}
.flag.flag-tc {background-position: -96px -143px}
.flag.flag-td {background-position: -112px -143px}
.flag.flag-tf {background-position: -128px -143px}
.flag.flag-tg {background-position: -144px -143px}
.flag.flag-th {background-position: -160px -143px}
.flag.flag-tj {background-position: -176px -143px}
.flag.flag-tk {background-position: -192px -143px}
.flag.flag-tl {background-position: -208px -143px}
.flag.flag-tm {background-position: -224px -143px}
.flag.flag-tn {background-position: -240px -143px}
.flag.flag-to {background-position: 0 -154px}
.flag.flag-tr {background-position: -16px -154px}
.flag.flag-tt {background-position: -32px -154px}
.flag.flag-tv {background-position: -48px -154px}
.flag.flag-tw {background-position: -64px -154px}
.flag.flag-tz {background-position: -80px -154px}
.flag.flag-ua {background-position: -96px -154px}
.flag.flag-ug {background-position: -112px -154px}
.flag.flag-um {background-position: -128px -154px}
.flag.flag-us {background-position: -144px -154px}
.flag.flag-uy {background-position: -160px -154px}
.flag.flag-uz {background-position: -176px -154px}
.flag.flag-va {background-position: -192px -154px}
.flag.flag-vc {background-position: -208px -154px}
.flag.flag-ve {background-position: -224px -154px}
.flag.flag-vg {background-position: -240px -154px}
.flag.flag-vi {background-position: 0 -165px}
.flag.flag-vn {background-position: -16px -165px}
.flag.flag-vu {background-position: -32px -165px}
.flag.flag-wales {background-position: -48px -165px}
.flag.flag-wf {background-position: -64px -165px}
.flag.flag-ws {background-position: -80px -165px}
.flag.flag-ye {background-position: -96px -165px}
.flag.flag-yt {background-position: -112px -165px}
.flag.flag-za {background-position: -128px -165px}
.flag.flag-zanzibar {background-position: -144px -165px}
.flag.flag-zm {background-position: -160px -165px}
.flag.flag-zw {background-position: -176px -165px}


.proxy_transparent {
	color:#36F;
}
.proxy_codeen {
	color:#E17100;
}
.proxy_anonymous {
	color:#6F8107;
}
.proxy_elite {
	color:#060
}


.glype {
	color:#92C273;
	color:#558138;
}
.phproxy {
	color:#AA8E79;
	color:#846853;
}
.cgiproxy {
	color:#072342;
}




.ad728x90 {
	width:728px;
	height:90px;
}
.ad728x15 {
	width:728px;
	height:15px;
}


.icon {
	position: relative;
	top: 1px;
	display: inline-block;
	
	/*line-height: 1;*/
	
	padding-left: 22px;
    background-repeat: no-repeat;
	background-position:left center;
}

.icon-check {
	background-image: url(//www.proxynova.com/assets/images/proxy_ok.gif);
}
.icon-warning {
	background-image: url(//www.proxynova.com/assets/images/proxy_out_of_date.png);
}
.icon-dead {
	background-image: url(//www.proxynova.com/assets/images/proxy_dead.png);
}


.proxy-city {
	color:#666666;
	font-size:10px;
}















