
<br>
<div class="w3-container w3-row">
    <div class="w3-col s4">
        <img src="/images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
        <span>Welcome, <strong>Visitor</strong></span><br>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
    </div>
</div>
<hr>
<div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>&nbsp; Close Menu</a>
    <a href="pricing" class="w3-bar-item w3-button w3-padding"><i class="fa fa-creative-commons fa-fw"></i>&nbsp; Pricing</a>
    <a href="home" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>&nbsp; Dashboard</a>
    <a href="task" class="w3-bar-item w3-button w3-padding"><i class="fa fa-calendar-o fa-fw"></i>&nbsp; My Task</a>
    <a href="scrape" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>&nbsp; Scrape</a>
    <a href="records" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>&nbsp; Records</a>
    <a href="proxy" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>&nbsp; Proxies</a>
    <a href="abouthedev" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>&nbsp; About the Developer</a>

</div>

<script>
    var currentpage = window.location.pathname.substring(1);
    if (currentpage) {
        
        $('a[href=' + currentpage + ']').addClass('w3-green');
    }
</script>